[submodule "libraries/fmt"]
	path = libraries/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libraries/pugixml"]
	path = libraries/pugixml
	url = https://github.com/zeux/pugixml
[submodule "libraries/argparse"]
	path = libraries/argparse
	url = https://github.com/p-ranav/argparse
